<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.parallax {
  /* The image used */
  background-image: url("https://i.ibb.co/ZJbX7sD/Pete-Linforth-Pixabay.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

</style>
</head>
<body  style="background-color:#3e3672;">
    <style>
		
    </style>

<div class="parallax"></div>

<div style="color:white;height:50px;background-color:transparent;font-size:36px;text-align: center;">
Corona Virus Statistics
</div>
<br/>
<div style="color:white;height:20px;background-color:transparent;font-size:26px;text-align: center;">
    Empowering the Community
</div>
<br/>
<div style="color:white;height:20px;background-color:transparent;font-size:20px;text-align: center;">You can do this</div>
<br/>
<br/>
<div style="color:white;height:1000px;background-color:transparent;font-size:18px;text-align: center;page-break-after: auto"> The Coronavirus (COVID-19) was first reported in Wuhan, 
    Hubei, China in December 2019, the outbreak was later 
    recognized as a pandemic by the World Health Organization (WHO) on 11 March 2020.
</div>
<div class="container">
    <app-patient-stats></app-patient-stats>
  </div> 
   

</body>
</html>
